#video {
    max-width: 100%;
    max-height: 70vh;
    transition: all 0.3s ease;
}

#captureBtn {
    transition: all 0.3s ease;
}

#captureBtn:hover {
    transform: scale(1.05);
}

#capturedImage {
    max-width: 100%;
    max-height: 50vh;
}

.animate__animated {
    animation-duration: 0.5s;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    #video, #capturedImage {
        max-height: 50vh;
    }
}
